mjx-container,mjx-math,mjx-char,mjx-mtext{margin:0!important;padding:0!important;line-height:1!important;vertical-align:middle!important;display:inline!important;white-space:nowrap!important;height:1em!important}
