<head>
<!-- MathJax -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<script>
function content_old(divSelector, value) {
        document.querySelector(divSelector).innerHTML = value;
	MathJax.Hub.Queue(["Typeset",MathJax.Hub,divSelector]); 
        }
        
        
let promise = Promise.resolve();  // Used to hold chain of typesetting calls

function typeset(code) {
  promise = promise.then(() => MathJax.typesetPromise(code()))
                   .catch((err) => console.log('Typeset failed: ' + err.message));
  return promise;
}

function content_old2(divSelector, value) {
code = () => {
  const math = document.querySelector(divSelector);
  math.innerHTML = value;
  return [math];
};
typeset(code);
}

function content_old3(divSelector, value) {
	var math = document.getElementById(divSelector);
	document.querySelector(divSelector).innerHTML = value;
	MathJax.Hub.Queue(["Text",MathJax.Hub,math]);
}

function content(divSelector, value) {
	var math = MathJax.Hub.getAllJax(divSelector)[0];
	//MathJax.Hub.Queue(["Text",math,value]);
	MathJax.Hub.Queue(["Text",math,String.raw${value}]);
}
</script>

<style>
.switch-box {
    background: #EDEDED;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.switch-toggle {
  justify-content: right;
  display: flex;
}

.switch-toggle .btn-holder {
  border-radius: 8px;
  background: white;
  transition-duration: 0.4s;
  float: left;
  border: 1px solid green;
}

.switch-toggle .btn-holder:hover  {
  background-color: #4CAF50; /* Green */
  color: white;
}
</style>

<div class="switch-box">
<div id="{{ include.id }}">$$x+1$$</div>
</div>
<div class="switch-toggle">
<button type="button" class="btn-holder" onclick="content('{{ include.id }}','{{ include.content1 }}')">{{ include.btn1 }}</button>
<button type="button" class="btn-holder" onclick="content('{{ include.id }}','{{ include.content2 }}')">{{ include.btn2 }}</button>
</div>


