<script>
function content(divSelector, value) {
        document.querySelector(divSelector).innerHTML = value;
        }
</script>

<div class="switch-box">
<div id="{{ include.id }}">{{ include.content1 }}</div>
</div>
<div class="switch-toggle">
<button type="button" class="btn-holder" onclick="content('#{{ include.id }}','{{ include.content1 }}')">{{ include.btn1 }}</button>
<button type="button" class="btn-holder" onclick="content('#{{ include.id }}','{{ include.content2 }}')">{{ include.btn2 }}</button>
</div>


