.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}


.projects-masonry {
  column-count: 3;
  column-gap: 1.25rem;
}

.projects-masonry > * {
  break-inside: avoid;
  margin-bottom: 1.25rem;
}

/* Responsive */
@media (max-width: 992px) {
  .projects-masonry { column-count: 2; }
}
@media (max-width: 576px) {
  .projects-masonry { column-count: 1; }
}

