.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  font-weight: bold;
  font-size: 75%;
}

.pubauthors, .pubinfo {
  font-size: 75%;
}

.publinks {
  font-size: 75%;
  margin-bottom: .5em;
}