.switch-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border:1px dashed grey;
  border-radius: 8px;
  position: relative;
}

.switch-toggle {
  justify-content: right;
  display: flex;
  padding-right: 8px;
}

.switch-toggle .btn-holder {
  font-size: 10px;
  display: inline-block;
  text-decoration: none;
  background: white;
  border-radius: 0 0 12px 12px;
  transition: .4s;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
  vertical-align: top;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.switch-toggle .btn-holder:hover  {
  background-color: #007bff;
  color: white;
}
