{%- assign course_sort = site.data.teaching | sort: "year" -%}
{%- assign course_by_year = course_sort | group_by:"year" -%}
{%- assign course_by_inst = course_sort | group_by:"institution" -%}

{%- assign years_list = course_by_year | map: 'name' -%}
{%- assign courses_per_year_list = course_by_year | map: 'items' -%}



<!------------------------------------------- Institutions  ---------------------------------->

<!-- Open bracket of parent -->
{%- assign sep_institution = "[" -%}
	
<!--- Get all courses per year --->
{%- for courses_per_year in courses_per_year_list -%}
	{%- assign courses_per_year_sort = courses_per_year | sort: "institution" -%}
	
	<!-- Open bracket of child -->
	{%- assign sep_tmp_institution = "" -%}
	
	<!-- Go through institutions -->
	{%- for course in courses_per_year_sort -%}
		{%- assign sep_tmp_institution = sep_tmp_institution | append: "," -%}
		{%- assign sep_tmp_institution = sep_tmp_institution | append: course.institution -%}
	{%- endfor -%}
	
	<!-- Keep unique list -->
	{%- assign sep_tmp_institution = sep_tmp_institution | remove_first: "," -%}
	{%- assign temporary = sep_tmp_institution | split: "," -%}
	{%- assign unique_inst = temporary | uniq | join: "," -%}

	<!-- Open and close bracket -->
	{%- assign unique_inst = unique_inst | prepend: "[" -%}
	{%- assign unique_inst = unique_inst | append: "]" -%}

	<!-- Append to parent sepator -->
	{%- assign sep_institution = sep_institution | append: "#" -%}
	{%- assign sep_institution = sep_institution | append: unique_inst -%}
	
{%- endfor -%}

<!-- Close bracket and remove first separator -->
{%- assign sep_institution = sep_institution | append: "]" -%}
{%- assign sep_institution = sep_institution | remove_first: "#" -%}

<a>{{ sep_institution }}</a>

<!------------------------------------------- Course Titles ---------------------------------->

<!-- Open bracket of parent -->
{%- assign sep_title = "[" -%}
	
<!--- Get all courses per year --->
{%- for courses_per_year in courses_per_year_list -%}
	{%- assign courses_per_year_sort = courses_per_year | sort: "institution" -%}
	
	<!-- Open bracket of child -->
	{%- assign sep_tmp_title = "[" -%}
	
	<!-- Go through course titles -->
	{%- for course in courses_per_year_sort -%}
		{%- assign sep_tmp_title = sep_tmp_title | append: "," -%}
		{%- assign sep_tmp_title = sep_tmp_title | append: course.title -%}
	{%- endfor -%}
	
	<!-- Close bracket of child -->
	{%- assign sep_tmp_title = sep_tmp_title | append: "]" -%}
	
	<!-- Remove first separator -->
	{%- assign sep_tmp_title = sep_tmp_title | remove_first: "," -%}
	
	<!-- Append to parent sepator -->
	{%- assign sep_title = sep_title | append: "#" -%}
	{%- assign sep_title = sep_title | append: sep_tmp_title -%}

{%- endfor -%}

<!-- Close bracket and remove first separator -->
{%- assign sep_title = sep_title | append: "]" -%}
{%- assign sep_title = sep_title | remove_first: "#" -%}

<br><br>
<a>{{ sep_title }}</a>


<!------------------------------------------- Course Hours ---------------------------------->

<!-- Open bracket of parent -->
{%- assign sep_hour = "[" -%}
	
<!--- Get all courses per year --->
{%- for courses_per_year in courses_per_year_list -%}
	{%- assign courses_per_year_sort = courses_per_year | sort: "institution" -%}
	{%- assign courses_per_year_sort_group = courses_per_year_sort | group_by:"institution" -%}
	{%- assign institutions_this_year = courses_per_year_sort_group | map:'name' -%}
	
	
	<!-- Open bracket of child -->
	{%- assign sep_tmp_hour = "[" -%}
	
	<!-- Go through institutions -->
	{%- for inst in institutions_this_year -%}
		{%- assign sep_hour_inner = "[" -%}
		
		<!-- Go through courses-->
		{%- for course in courses_per_year_sort -%}
			{%- assign sep_hour_inner = sep_hour_inner | append: "," -%}
			
			{%- if course.institution == inst -%}
				{%- assign sep_hour_inner = sep_hour_inner | append: course.hours -%}
			{%- else -%}
				{%- assign sep_hour_inner = sep_hour_inner | append: "null" -%}
			{%- endif -%}
		
		{%- endfor -%}
		
		<!-- Close bracket and remove first separator of child -->
		{%- assign sep_hour_inner = sep_hour_inner | append: "]" -%}
		{%- assign sep_hour_inner = sep_hour_inner | remove_first: "," -%}
		
		<!-- Add to the direct parent -->
		{%- assign sep_tmp_hour = sep_tmp_hour | append: ";" -%}
		{%- assign sep_tmp_hour = sep_tmp_hour | append: sep_hour_inner -%}

	{%- endfor -%}
	
	<!-- Close bracket and remove first separator of child -->
	{%- assign sep_tmp_hour = sep_tmp_hour | append: "]" -%}
	{%- assign sep_tmp_hour = sep_tmp_hour | remove_first: ";" -%}
	
	<!-- Add to the direct parent -->
	{%- assign sep_hour = sep_hour | append: "#" -%}
	{%- assign sep_hour = sep_hour | append: sep_tmp_hour -%}

{%- endfor -%}

<!-- Close bracket and remove first separator of child -->
{%- assign sep_hour = sep_hour | append: "]" -%}
{%- assign sep_hour = sep_hour | remove_first: "#" -%}

<br><br>
<a>{{ sep_hour }}</a>



<!--- Create one button for each year --->
{% for year in years_list %}
{% capture year_str %}{{year}}{% endcapture %}
  <button id="btn-{{ year_str }}">{{year_str}}</button>
{% endfor %}


<canvas id="graph" width="800px" height="400px"></canvas>

<button id="btn1">
Option 1
</button>
<button id="btn2">
Option 2
</button>

<script>


var data = {
    labels: ['January', 'February', 'March'],
    
    datasets: [
        {
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [30,120,90]
        },
        {
        fillColor: "rgba(100,220,220,0.7)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [10,70,110]
        }
    ]
    };

var data1 = {
    labels: ['March', 'Apr', 'May'],
    
    datasets: [
        {
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [50,100,140]
        },
        {
        fillColor: "rgba(100,220,220,0.7)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [40,70,200]
        }
    ]
    };

var context = document.querySelector('#graph').getContext('2d');
new Chart(context).Line(data);
    
$("#btn1").on("click", function() {
     var context1 = document.querySelector('#graph').getContext('2d');
    new Chart(context1).Line(data);
  });
$("#btn2").on("click", function() {
    var context2 = document.querySelector('#graph').getContext('2d');
    new Chart(context2).Line(data1);
  });

</script>



