{% assign course_sort = site.data.teaching | sort: "institution" %}
{% assign course_by_year = course_sort | group_by:"year" %}
{% assign course_by_inst = course_sort | group_by:"institution" %}

{% assign years_list = course_by_year | map: 'name' %}
{% assign institution_list = course_by_inst | map: 'name' %}

<!--- To do after sel year --->


<canvas id="canvas"></canvas>
</div>
<br>
<br>
<button id="replaceDataObject">REPLACE ENTIRE DATA OBJECT</button>
<button id="randomizeData">Randomize Data</button>
<button id="addDataset">Add Dataset</button>
<button id="removeDataset">Remove Dataset</button>
<button id="addData">Add Data</button>
<button id="removeData">Remove Data</button>


<!--- Create one button for each year --->
{% for year in years_list %}
{% capture year_str %}{{year}}{% endcapture %}
  <button id="btn-{{ year_str }}">{{year_str}}</button>
{% endfor %}


<script>

var INSTITUTIONS = [{% for inst in institution_list %}"{{ inst }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}];


document.getElementById('year-id').addEventListener('click', function() {
// Define new data_structure
var newDataObject = {
labels: ["January", "February", "March", "April", "May", "June", "July"],
datasets: [{
  label: "My First dataset",
  backgroundColor: "rgba(75,192,192,0.4)",
  borderColor: "rgba(75,192,192,1)",
  data: [100, 200, 300, 81, 56, 55, 40],
}]
};
// Update chart
console.log(myLine.data);
// the newDataObject does not override myLine.data object: why???
myLine.data = newDataObject;
// ... but updating a single value works: why??? 
myLine.data.datasets[0].data[0] = 5000;
console.log(myLine.data);
window.myLine.update();
});



window.chartColors = {
red: 'rgb(255, 99, 132)',
orange: 'rgb(255, 159, 64)',
yellow: 'rgb(255, 205, 86)',
green: 'rgb(75, 192, 192)',
blue: 'rgb(54, 162, 235)',
purple: 'rgb(153, 102, 255)',
grey: 'rgb(231,233,237)'
};

window.randomScalingFactor = function() {
return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
}

var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];


var config = {
type: 'line',
data: {
labels: ["January", "February", "March", "April", "May", "June", "July"],
datasets: [{
  label: "My First dataset",
  backgroundColor: window.chartColors.red,
  borderColor: window.chartColors.red,
  data: [
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor()
  ],
  fill: false,
}, {
  label: "My Second dataset",
  fill: false,
  backgroundColor: window.chartColors.blue,
  borderColor: window.chartColors.blue,
  data: [
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor(),
    randomScalingFactor()
  ],
}]
},
options: {
responsive: true,
title: {
  display: true,
  text: 'Chart.js Line Chart'
},
tooltips: {
  mode: 'index',
  intersect: false,
},
hover: {
  mode: 'nearest',
  intersect: true
},
scales: {
  xAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Month'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Value'
    }
  }]
}
}
};

	
window.onload = function() {
var ctx = document.getElementById("canvas").getContext("2d");
window.myLine = getNewChart(ctx, config);
};
	
function getNewChart(canvas, config) {
return new Chart(canvas, config);
}
	


</script>



