{%- assign all_courses = "" | split: "" -%}

{%- for pair in site.data.teaching %}
  {%- assign filename = pair[0] -%}
  {%- assign course_list = pair[1] -%}
  {%- assign year = filename | split: "-" | first -%}

  {%- for course in course_list %}
    {%- assign annotated_course = course | merge: { "year": year, "academic_year": filename } -%}
    {%- assign all_courses = all_courses | push: annotated_course -%}
  {%- endfor -%}
{%- endfor -%}

{%- assign course_sort = all_courses | sort: "year" | reverse -%}
{%- assign course_by_year = course_sort | group_by: "academic_year" -%}
{%- assign course_by_inst = course_sort | group_by: "institution" -%}

{%- assign years_list = course_by_year | map: "name" -%}
{%- assign courses_per_year_list = course_by_year | map: "items" -%}

