{% for course in site.data.teaching %}
    {%- if {{course.from | to_integer}} == {{include.year}} -%}
    <a>{{course.title}} ({{course.hours}})</a>
  {%- endif -%}
{% endfor %}


{% assign course_year = site.data.teaching | where: "from","2014" %}
{% for sel_course in course_year %}
  <a>{{sel_course.title}}</a>
{% endfor %}

{% assign course_inst = course_year | group_by:"institution" %}
<a>{{ course_inst | size }}</a>
{% for inst in course_inst %}
<a>{{inst.name}} {{inst.items | size }}</a>
{% endfor %}

{% comment %}Get the list of institutions{% endcomment %}
{% assign institution_list = "" %}
{% for inst in course_inst %}
{{ institution_list | append: "," }}
{{ institution_list | append: inst.name }}
{% endfor %}
<a>{{ institution_list }}</a>

{% assign institution_sep = institution_list | split: ',' %}


{% assign data_list = "" %}
{% for inst in course_inst %}
  {% if forloop.first=false %}
        {{ data_list | append: ";" }}
      {% endif %}
  {% for course in course_year %}
    {% if course.institution == inst.name %}
      {% if forloop.first=false %}
        {{ data_list | append: "," }}
      {% endif %}
      {{ data_list | append: course.hours }}
    {% else %}
      {% if forloop.first=false %}
        {{ data_list | append: "," }}
      {% endif %}
      {{ data_list | append: "null" }}
    {% endif %}
  {% endfor %}
{% endfor %}

<a>{{ data_list }}</a>
