{%- assign items = list_courses | strip | newline_to_br | split: '<br />' -%}


<div class="row">
  <div class="col-4">
    <div class="list-group list-group-light" id="list-tab" role="tablist">
      {%- assign increment = 0 -%}
      {% for item in items %}
	 {%- assign item_object = item | split: ',' -%}
	 {% if increment==0 %}
	   <a class="list-group-item list-group-item-action active" href="#{{ item_object[1] }}" id="list-{{ item_object[1] }}-list" role="tab" data-mdb-toggle="list" aria-controls="list-{{ item_object[1] }}">{{ item_object[0] }}</a>
	   {% else %}
	    <a class="list-group-item list-group-item-action" href="#{{ item_object[1] }}" id="list-{{ item_object[1] }}-list" role="tab" data-mdb-toggle="list" aria-controls="list-{{ item_object[1] }}">{{ item_object[0] }}</a>
	   {% endif %}
	   {%- assign increment = increment+1 -%}
      {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
     {% for item in items %}
        {%- assign item_object = item | split: ',' -%}
	 <div class="tab-pane fade" id="list-{{ item_object[1] }}" role="tabpanel"
        aria-labelledby="list-{{ item_object[1] }}-list">
        {{ item_object[2] }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

