---
layout: page
title: Teaching
permalink: /courses/
weight: 3
---



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="/assets/js/teaching.js"></script>

<style>
green {
 color: #40916c;
}
red {
 color: #e76f51;
}
blue {
 color: #0047AB;
}
</style>
</head>


<body>

<h1>Courses</h1>

{% capture list_items %}
{% for course in site.courses %}
{%- if course.external_url -%}
  {%- assign course_url = course.external_url -%}
{%- else -%}
  {%- assign course_url = course.url | relative_url -%}
{%- endif -%}
    {{course.title}},{{course_url}}
{% endfor %}
{% endcapture %}
{% include elements/list.html title="Telecom Saint-Etienne Courses" %}




<div class="row">
  <div class="col-4">
    <div class="list-group list-group-light" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active px-3 border-0" id="list-home-list"
        data-mdb-toggle="list" href="list-home" role="tab" aria-controls="list-home">Home</a>
      <a class="list-group-item list-group-item-action px-3 border-0" id="list-profile-list"
        data-mdb-toggle="list" href="list-profile" role="tab" aria-controls="list-profile">Profile</a>
      <a class="list-group-item list-group-item-action px-3 border-0" id="list-messages-list"
        data-mdb-toggle="list" href="list-messages" role="tab" aria-controls="list-messages">Messages</a>
      <a class="list-group-item list-group-item-action px-3 border-0" id="list-settings-list"
        data-mdb-toggle="list" href="list-settings" role="tab" aria-controls="list-settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel"
        aria-labelledby="list-home-list">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        impedit quibusdam exercitationem eligendi voluptate doloribus
        non pariatur libero quod nobis mollitia odio dolore eos debitis
        iure, autem quisquam ullam beatae.
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        Ea eos asperiores deserunt reprehenderit voluptatem deleniti
        dolor iure eum consectetur commodi.
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
        Et perspiciatis facilis labore natus at necessitatibus. Sequi
        earum qui illum reiciendis? Excepturi, dicta consequuntur,
        voluptas aspernatur, quis laboriosam exercitationem quasi
        officia tempore iste assumenda aliquam.
      </div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        Praesentium asperiores nemo ratione quas atque excepturi odio
        aliquid libero, architecto aspernatur expedita, corrupti, rem
        odit quos exercitationem maxime at. Ex, eveniet rerum laborum
        accusamus delectus magnam maxime!
      </div>
    </div>
  </div>
</div>


<h1>MATh.en.JEANS</h1>
The organization <a href="https://www.mathenjeans.fr/" target="_blank">MATh.en.JEANS</a> aims to bring mathematics to life for young people, according to the principles of mathematical research. It allows young students to meet researchers and practice an authentic scientific approach in schools, from its theoretical to applied dimensions and if possible in touch with current research themes. Since 2020, I have been invited to collaborate and animate weekly workshops with the <a href="https://www.europeanschoolthehague.nl/" target="_blank">European School The Hague</a> and the <a href="https://lfvvg.com/" target="_blank">French Lycée Vincent-Van-Gogh</a>. 

For the 2020-2021 edition, I have proposed subjects about card tricks and autonomous vehicles. Throughout the year, students have acquired knowledge ranging from numeral systems and object-oriented programming to deep Q-learning.

During 2021-2022, I have suggested research projects on face recognition, robust coding systems and fairness in machine learning.


<h1>Teaching Activities</h1>

Since 2021, I do teaching vacations at <blue>INSA Rouen Normandie</blue>.
<div style="width:100%">
<canvas id="teaching2021"></canvas>
</div>

</br>
From 2013 to 2016, I benefited from a teaching activity grant. I gave tutorial classes, oral exercices and supervised of practical exercices at <red>Université Claude Bernard Lyon 1</red> and <green>Ecole Normale Supérieure de Lyon</green>.
</br>
<div style="width:100%" margin-bottom: 10%>
<canvas id="teaching2016"></canvas>
</div>
</br></br>
<div style="width:100%" margin-bottom: 10%>
<canvas id="teaching2015"></canvas>
</div>
</br></br>
<div style="width:100%">
<canvas id="teaching2014"></canvas>
</div>

</body>
