---
layout: page
title: Teaching
permalink: /courses/
weight: 3
---



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="/assets/js/teaching.js"></script>



<style>
green {
 color: #40916c;
}
red {
 color: #e76f51;
}
blue {
 color: #0047AB;
}

</style>


<h1>Courses</h1>



{% capture accordion_items %}
{% for course in site.courses %}
  {%- assign course_url = course.url | relative_url -%}
    {{course.title}};<i class="fas fa-university"></i> {{course.institution}}<br><i class="fas fa-solid fa-graduation-cap"></i> {{course.year}}, {{course.program}}<br><br>{{course.description}}<br><br><a href="{{course_url}}"><i class="fas fa-chalkboard"></i> Course webpage</a>
{% endfor %}
{% endcapture %}
{% include elements/accordion.html id="accordiontest"%}



<h1>MATh.en.JEANS</h1>
The organization <a href="https://www.mathenjeans.fr/" target="_blank">MATh.en.JEANS</a> aims to bring mathematics to life for young people, according to the principles of mathematical research. It allows young students to meet researchers and practice an authentic scientific approach in schools, from its theoretical to applied dimensions and if possible in touch with current research themes. Since 2020, I have been invited to collaborate and animate weekly workshops with the <a href="https://www.europeanschoolthehague.nl/" target="_blank">European School The Hague</a> and the <a href="https://lfvvg.com/" target="_blank">French Lycée Vincent-Van-Gogh</a>. 

For the 2020-2021 edition, I have proposed subjects about card tricks and autonomous vehicles. Throughout the year, students have acquired knowledge ranging from numeral systems and object-oriented programming to deep Q-learning.

During 2021-2022, I have suggested research projects on face recognition, robust coding systems and fairness in machine learning.


<h1>Teaching Experience</h1>

In 2021-2022, I have done teaching vacations at <blue>INSA Rouen Normandie</blue>. From 2013 to 2016, I benefited from a teaching activity grant. I gave tutorial classes, oral exercices and supervised of practical exercices at <red>Université Claude Bernard Lyon 1</red> and <green>Ecole Normale Supérieure de Lyon</green>.<br><br>


<!--
{% capture trial1 %}
{% include elements/chart-pie.html id="chartest" data="55,30,15" labels="Snickers,Twix,Reeses" %}
{% endcapture %}
{% assign trial = trial1 | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip %}
	test&{{trial}}
-->

{% capture trial1 %}
{% include elements/list-courses.html id="teaching" year="2014-2015"%}
{% endcapture %}
{% assign trial = trial1 | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip %}

{% capture tab_items %}
	test&{{trial}}
	2021-2022&<div style="width:100%"><canvas id="teaching2021"></canvas></div>
	2015-2016&<div style="width:100%"><canvas id="teaching2016"></canvas></div>
	2014-2015&<div style="width:100%"><canvas id="teaching2015"></canvas></div>
	2013-2014&<div style="width:100%"><canvas id="teaching2014"></canvas></div>
{% endcapture %}
{% include elements/tab-vertical.html id="teaching"%}


{% include elements/list-courses.html id="teaching" year="2014-2015"%}

{% assign years_all = site.data.teaching | group_by:"year" %}
{% assign years_list = years_all | map: 'name' %}
{% for year in years_list %}
  <a>{{year}}</a>
  {% include elements/list-courses.html id="teaching" year={{ year }}%}
{% endfor %}

