---
layout: page
---

<h1>{{ page.name }}</h1>
<p class="post-metadata text-muted">
{{ page.description }}
</p>

{{ content }}




<h2>Related Publications</h2>
{% assign publications = site.publications | sort: "year" | reverse %}

<ol>
{% for publi in publications %}
 {% if publi.project ==  page.keyword %}
 <li>
 <div class="pubitem">
   <div class="pubauthors">
     {{ publi.authors }},
   </div>
   <div class="pubtitle">
     {{ publi.title }},
   </div>
   <div class="pubinfo">
     {{ publi.publication }}, {{ publi.year}}.
   </div>
 </div>
 <div class="publinks">
   <a href="{{publi.url}}"><i class="fas fa-link"></i> Article Page</a>&nbsp;&nbsp;
   <a href="/download/{{ publi.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
   <a href="/download/{{ publi.slug}}.bib"><i class="fas fa-quote-left"></i> BibTeX</a>&nbsp;&nbsp;
   {% if publi.toolbox %}
   <a href="{{ publi.toolbox }}"><i class="fab fa-github"></i> Toolbox</a>&nbsp;&nbsp;
   {% endif %}
 </div>
 </li>
 {% endif %}
{% endfor %}
</ol>

<p class="text-center">
{% include elements/button-back.html text="Back" %}
</p>

