---
layout: default
---

<div class="page">
  <h1 class="mt-4 publication-title">{{ page.title }}</h1>
  <div class="publication-authors">
    {{ page.authors }}
  </div>
  <div class="publication-info">
    {{ page.publication }}, {{ page.year}}
  </div>
  {% if page.image %}
  <img class="publication-teaser" src="/images/{{ page.slug }}.png" alt="project teaser"/>
  {% endif %}
  <h2 id="abstract">Abstract</h2>
  {{ content }}
  {% if page.type != 'unpublished' %}
   <h2 id="downloads">Downloads</h2>
   <p>
     <a href="/download/{{ page.slug }}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
     {% if page.supplementary %}
     <a href="/download/{{ page.slug }}_supp.pdf"><i class="far fa-file-pdf"></i> Supplementary</a>&nbsp;&nbsp;
     {% endif %}
     {% if page.slides %}
     <a href="/download/{{ page.slug }}_slides.pdf"><i class="far fa-file-pdf"></i> Slides</a>&nbsp;&nbsp;
     {% endif %}
     <a href="/download/{{ page.slug }}.bib"><i class="fas fa-quote-left"></i> BibTex</a>&nbsp;&nbsp;
     {% if page.doi %}
     <a href="http://dx.doi.org/{{ page.doi }}"><i class="fas fa-external-link-alt"></i> DOI</a>&nbsp;&nbsp;
     {% endif %}
     {% if page.toolbox %}
     <a href="{{ page.toolbox }}"><i class="fab fa-github"></i> Toolbox</a>&nbsp;&nbsp;
     {% endif %}
   </p>
  {% endif %}

<p class="text-center">
{% include elements/button-back.html link="{{page.previous.url}}" text="Back" %}
</p>
</div>